<div class="game-container">
  <h1>Game result</h1>
  <h2>Your grid:   <%= @grid %></h2>
  <h2>your word: <%= @word %></h2>
  <h2>Your score: <%= @score %></h2>
  <p><%= @message %></p>

  <%= link_to 'Play again', new_path %>

</div>
